/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.add-info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.main-content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-info img {
  width: 100%;
}

.add-info .more_info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .add-info { 
    text-align: center;
  }
}

.new-task,
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row {
  display: flex;
}

#incomplete-tasks, 
#completed-tasks {
  margin: 0;
  padding: 0px;
}

.input-checkbox,
.new-task,
.edit,
.delete {
  outline: none;
}

.edit,
.delete,
.add {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.edit:hover, 
.delete:hover, 
.add:hover {
  color: #3a3a3a;
}

/* Heading */
.todo,
.completed,
.new-add {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 226px;
}

.task:focus {
  color: #333;
  outline: none; 
}

/* New Task */
.new-add {
  display: block;
  margin: 0 0 20px;
}

.task {
  width: 318px;
}

/* Task list */
.mode {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  list-style: none;
}

.input-checkbox {
  margin: 0 10px;
}

.mode > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.mode .task {
  display: none;
}

.edit-mode .task {
  display: inline-block;
  width: 224px;
}

.edit-mode .new-task {
  display: none;
}